nav {
    max-width: 1000px;
    height: 3rem;
    background: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav img {
    height: 50%;
    margin: auto auto auto 1rem; 
}

nav a {
    text-decoration: none;
    color: darkgrey;
    margin: 1rem;
}
nav a:hover {
    color: black;
}
